<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to the Travel Journal</h1>
    <a href='/places/new'>Add a new entry to your journal</a>
    <a href='/places'>View all journal entries</a>
  </body>
</html>
