<form action="/places" method="post">
  <label for="cityName">Enter the name of a city you have visited:</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Submit!</button>
</form>