@using PlacesYouveBeen.Models

<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>@Model.CityName</h1>
  </body>
</html>